
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    padding: 10%;
    padding-top: 0;
    padding-bottom: 0;

    margin: 0;
    height: 100%;
    overflow-x: hidden;
}
.fullWidth {
    margin-left: -12.5%;
}



label {
    display: none;
}
.noLink {
    text-decoration: none;
    color: black;
}


/* 
    ********************
    Generelle funksjoner 
    ********************
*/



.tilToppenKnapp {
    width: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #4A9CFF;
    border-radius: 15px;

    color: white;
    font-size: 40px;
    text-align: center;

    z-index: 2;
    cursor: pointer;

    transition: .25s;
}.tilToppenKnapp:hover {
    background-color: #4083db;
}.tilToppenKnapp img {
    display: none;
}


#onKat {
    z-index: 1;
}






.pc {
    display: block;
}.tlf {
    display: none;
}





.vis {
    border: solid red 1px;
}

.pic {
    border-radius: 2vw;
}
.overskriftTekst {
    position: absolute; 
    top: -30px;
    left: 0;
    font-size: 20px;
    color: #414042;
}h3 { /* No extra effects for h3 (kun der for universel utforming) */
    display: inline;
    font-size: 20px;
}

.hideContent {
    overflow: hidden; 
    width: 100%; 
    height: 100%; 
    position: relative;
}


/* 
    Sentrere midtdelen på en side 
*/
.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}










.skriveForTextBox {
    text-align: center; 
    font-size: 2.5vw; 
    margin-top: 9vw;
}






.malEksBox {
    width: 50vw;
    height: 25vw;
    background-color: red;
    cursor: pointer;

    margin-top: 12vw;
    position: relative;
} .malEksBox h1 {
    font-size: 3vw;
    color: white;
    transform: rotate(-45deg);

    position: absolute;
    right: 5%;
    bottom: 20%;
}
.malEksOverlag {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
} .malEksHoverlag {
    opacity: 0;
    width: 55%;
} .malEksBox:hover .malEksHoverlag {
    opacity: 1;
} .malEksBox:hover h1 {
    right: 7%;
    bottom: 23.25%;
}










/* 
    *************************
    Footer og under midtdelen 
    *************************
*/
.footer {
    margin-top: 18vw;
}.footContent {
    width: 100vw; 
    height: 23vw;
    position: relative;
}.footContent img {
    width: 100vw;
}
.adminURL {
    position: absolute; 
    bottom: 5vw; 
    right: 25vw; 
    color: rgba(255, 255, 255, .5);
}.adminURL:hover {
    color: white;
}
.footSpace {
    height: 74px;
    width: 1px;
}









/*
    ***********
    Mobilverson
    ***********
*/

@media only screen and (max-width: 775px) {

    .pc {
        display: none;
    }.tlf {
        display: block;
    }
    

    .tilToppenKnapp {
        padding: 0;
        width: 85px;
        height: 70px;
        right: 25px;
        bottom: 100px;
        display: flex;
        align-content: center;
    }.tilToppenKnapp span {
        display: none;
    }.tilToppenKnapp img {
        display: block;
    }
    .tilToppenKnapp img {
        width: 40px;
        left: 22.5px;
        height: 40px;
        top: 15px;
    
        position: absolute;
        display: block;
    }




    .overskriftTekst {
        top: -25px;
        font-size: 15px;
    }




    .skriveForTextBox {
        font-size: 3.1vw;
    }





    

    .footContent {
        height: 33vw;
    }.footContent img {
        position: absolute;
        left: -30%;
        width: 140vw;
    }
    .adminURL {
        font-size: smaller;
        left: 25vw;
    }


}